echo "$TOCK_KERNEL_DIR"
rm -rf "$TOCK_KERNEL_DIR/{{{boardRoot}}}"
mkdir -p "$TOCK_KERNEL_DIR/{{{boardRoot}}}"
cp -R * "$TOCK_KERNEL_DIR/{{{boardRoot}}}"
cd "$TOCK_KERNEL_DIR/{{{boardRoot}}}" && make -f Makefile.kernel flash
